:root{
  --mainBlue :#2a2a72;
  --lightBlue : #009ffd;
  --mianDark : #232528;
  --mianWhite : #f3f3f3;
  --mianYellow : #ffa400;
}

body{
font-family: 'Oswald', sans-serif !important;
background:var(--mianWhite) !important;
color: var(--mianDark);
}

.text-title{
font-family: 'Permanent Marker', cursive !important;
letter-spacing: .3rem;
text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}

